<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="planittesting.BaseTest.Listeners"/>
</listeners>
  <test thread-count="5" name="Contact Page Tests">
    <classes>
      <class name="planittesting.Tests.ContactPageTests"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="Cart Page Tests">
    <classes>
      <class name="planittesting.Tests.CartPageTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
